<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://matheuschiodi.github.io/Portfolio/projects/mchiodi-focus.png"
      alt="Big Card Image"
      height="200px"
    />
  </div>

  <div class="big-card__title">
    <h1>
      <a href="https://mchiodi-focus.vercel.app" target="_blank"
        >MChiodi Focus</a
      >
    </h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="https://mchiodi-focus.vercel.app" target="_blank">
        Um hub de produtividade moderno pensado especialmente para
        desenvolvedores, que combina performance, estética e organização em um
        só lugar.
      </a>
    </p>
  </div>
</div>
