<div class="bg-gray-100 min-h-screen">
  <div class="container mx-auto px-4">
    <header class="bg-white shadow mb-4">
      <nav class="flex items-center justify-between p-4">
        <a routerLink="/" class="text-xl font-bold text-gray-800"
          >Blog Angular</a
        >
        <ul class="flex space-x-4">
          <li>
            <a routerLink="/posts" class="text-gray-600 hover:text-gray-800"
              >Posts</a
            >
          </li>
          <li>
            <a routerLink="/about" class="text-gray-600 hover:text-gray-800"
              >About</a
            >
          </li>
        </ul>
      </nav>
    </header>
  </div>
</div>

<router-outlet></router-outlet>
