<div
  class="w-full max-w-2xl bg-gradient-to-br from-gray-900 via-gray-800 to-gray-900 rounded-xl shadow-lg p-4 flex flex-col gap-2 mx-auto mb-4"
>
  <div class="flex sm:flex-row flex-col items-center gap-4">
    <div class="overflow-hidden rounded-lg shadow-md min-w-[120px]">
      <img
        src="https://matheuschiodi.github.io/Portfolio/projects/knowledgehub.png"
        alt="Small Card Image"
        class="sm:w-32 w-full sm:h-32 h-full object-cover transition-transform duration-300 hover:scale-105"
      />
    </div>
    <div class="flex-1">
      <h1 class="text-lg font-semibold text-white mb-1">
        <a
          href="https://knowledge-hub-matheuschiodis-projects.vercel.app/"
          target="_blank"
          class="hover:text-[#ff5555] transition-colors duration-200"
          >KnowledgeHub</a
        >
      </h1>
      <p class="text-gray-300 text-sm">
        Biblioteca digital moderna desenvolvida com React.js, Vite, Tailwind CSS
        e Framer Motion. Centraliza artigos e materiais técnicos em PDF sobre
        APIs, Desenvolvimento, GitHub, Inteligência Artificial, Node.js e
        Python.
      </p>
    </div>
  </div>
</div>
