<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img
        src="https://matheuschiodi.github.io/Portfolio/projects/knowledgehub.png"
        alt="Small Card Image"
        height="150px"
      />
    </div>

    <div class="small-card__title">
      <h1>
        <a
          href="https://knowledge-hub-matheuschiodis-projects.vercel.app/"
          target="_blank"
          >KnowledgeHub é uma biblioteca digital moderna desenvolvida com
          React.js, Vite, Tailwind CSS e Framer Motion. Ela centraliza artigos e
          materiais técnicos em PDF sobre APIs, Desenvolvimento, GitHub,
          Inteligência Artificial, Node.js e Python.</a
        >
      </h1>
    </div>
  </div>

  <div CLASS="container__small-card__separator">
    <hr />
  </div>
</div>
