<header class="sticky top-0 z-30">
  <app-menu-bar></app-menu-bar>
</header>

<main
  class="min-h-screen flex flex-col items-center bg-gradient-to-b from-gray-950 via-gray-900 to-gray-800 pb-[40px]"
>
  <app-menu-title></app-menu-title>
  <div
    class="w-full max-w-[1920px] mx-auto flex flex-col lg:flex-row justify-center items-start gap-8 px-4"
  >
    <div class="flex-1 flex justify-center mx-auto">
      <ng-container *ngFor="let noticia of noticias">
        <app-big-card
          *ngIf="noticia.id == 1"
          [Id]="noticia.id"
          [photoCover]="noticia.photo"
          [cardTitle]="noticia.title"
          [cardDescription]="noticia.description"
        ></app-big-card>
      </ng-container>
    </div>
    <div class="flex-1 flex flex-col gap-4 mx-auto">
      <ng-container *ngFor="let noticia of noticias">
        <app-small-card
          *ngIf="noticia.id > 1"
          [Id]="noticia.id"
          [photoCover]="noticia.photo"
          [cardTitle]="noticia.title"
          [cardDescription]="noticia.description"
        ></app-small-card>
      </ng-container>
    </div>
  </div>
</main>

<app-back-to-top></app-back-to-top>

<footer class="w-full">
  <app-footer></app-footer>
</footer>
